{% extends 'base/base.html' %}
{% load static %}
{% block content %}

{% csrf_token %}


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">HOME</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Registration</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'product' %}">Flowers</a>
        </li>
      </ul>
      <span class="navbar-text">
        showroom: +38 (044) 498–29–26<br>
        number: +38 (099) 868-87-57
      </span>
    </div>
  </div>
</nav>


<div class="row row-cols-1 row-cols-md-2 g-4">
{% for product in products %}
  <div class="col">
    <div class="card">
      <div class="card-body">
         <h2 class="card-title">{{ product.name }}</h2>
          <h3 class="card-text">{{ product.price }}$</h3>
        <button data-order-url="{% url 'order' product.id %}" data-bs-toggle="modal" data-bs-target="#itemOrderModal" class="OrderView">Order</button>
      </div>
    </div>
  </div>
{% endfor %}
</div>


<div class="modal fade" id="itemOrderModal" tabindex="-1" aria-labelledby="itemOrderModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="itemOrderModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="save_order" type="button" class="btn btn-primary">Confirm order</button>
      </div>
    </div>
  </div>
</div>


<script>
    $('.OrderView').click(function (){
        let btn = $(this);
        $('#save_order').data('order-url', btn.data('order-url'));
    });
</script>


{% endblock %}


{% block js %}
    <script src="{% static 'js/order.js' %}"></script>
{% endblock %}