{% extends 'base/base.html' %}
{% load static %}
{% block content %}

{% csrf_token %}


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">HOME</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Registration</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'product' %}">Flowers</a>
        </li>
      </ul>
      <span class="navbar-text">
        showroom: +38 (044) 498–29–26<br>
        number: +38 (099) 868-87-57

      </span>
    </div>
  </div>
</nav>

<img src="/static/images/flower.jpg" class="img-fluid" alt="Responsive image" style="width=940px;height=240px;" >
<p></p>



<div class="card text-center">
  <div class="card-header">
    flowers
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title </h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="{% url 'catalog' %}" class="btn btn-primary">see products</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
{% endblock %}


{% block js %}


{% endblock %}