{% extends 'base/base.html' %}
{% load static %}
{% block content %}


<form method="post">
         {% csrf_token %}
{{ form.name }}
    {% for error in form.name.errors %}
        <p>{{ error }}</p>
    {% endfor %}

{{ form.price }}
    {% for error in form.price.errors %}
        <p>{{ error }}</p>
    {% endfor %}


{{ form.description }}
    {% for error in form.description.errors %}
        <p>{{ error }}</p>
    {% endfor %}
        <input type="submit" value="Enter">
</form>
{% endblock %}



{% block js %}
<script src="{% static 'js/order.js' %}"></script>

{% endblock %}